<script type="text/javascript">
    Highcharts.chart('coronavirus-cases-linear', {
        chart: {
            type: 'cases-linear'
        }
	});
	
	Highcharts.chart('coronavirus-cases-log', {
        chart: {
            type: 'cases-log'
        }
	});
</script>
<script type="text/javascript">
	Highcharts.chart('coronavirus-deaths-linear', {
		chart: {
			type: 'deaths-linear'
		}
	});
	
	Highcharts.chart('coronavirus-deaths-log', {
		chart: {
			type: 'deaths-log'
		},
	});
</scripts>
